name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21]
        scala: ['2.12.20', '2.13.15', '3.3.4']
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: "temurin"
        java-version: ${{ matrix.java }}
    - uses: sbt/setup-sbt@v1
    - name: Run tests
      env:
        SCALA_VERSION: ${{ matrix.scala }}
      run: sbt ";set Test / g8 / g8Properties ~= { _ + (\"scala_version\" -> \"$SCALA_VERSION\")}; g8Test"
