name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [11, 17]
        Scala: ['2.12.18', '2.13.12', '3.3.1']
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Run tests
      env:
        SCALA_VERSION: ${{ matrix.Scala }}
      run: sbt ";set g8Properties in g8 in Test ~= { _ + (\"scala_version\" -> \"$SCALA_VERSION\")}; g8Test"
